body {
    background-color: lightcoral;
}

/* Style my YOLO image */
#yoloImg {
    width: 200px;
}

img {
    width: 200px;
}

ul button {
    font-size: 36px;
}

#yoloDiv > span {
    display: block;
    font-size: 56px;
    color: green;
    font-family: sans-serif;
    font-weight: bold;
}

.highlight {
    background-color: lightblue;
}